services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel-app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./scaffold:/var/www/html/_scaffold
    environment:
      - APP_PORT=8081
    networks:
      - laravel

  web:
    image: nginx:alpine
    container_name: laravel-web
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - laravel

  queue:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel-queue
    working_dir: /var/www/html
    command: bash -lc "php artisan queue:work --verbose --tries=3 --timeout=90"
    volumes:
      - ./:/var/www/html
    depends_on:
      - app
    networks:
      - laravel


networks:
  laravel:
    driver: bridge
