/* banner jsx */
.image {
  border: 1px solid gray;
  @apply relative md:w-80 md:h-height5px w-60 h-80 rounded-2xl
}

.image::after {
  top: 4%;
  left: 10%;
  transform: rotate(8deg);
  @apply bg-kindablack -z-10 content-[''] absolute w-full h-full rounded-2xl;
}

.image::before {
  transform: rotate(17deg);
  top: 8%;
  left: 20%;
  border: 1px solid gray;
  @apply -z-10 content-[''] absolute w-full h-full bg-white rounded-2xl;
}

ul li {
  @apply text-base;
}

ul li:hover {
  cursor: pointer;
}
ul li:first-of-type label {
  @apply hover:bg-none;
}

/* about us jsx */
.textLeftDesign {
  position: relative;
}
.textLeftDesign:before {
  @apply absolute content-[''] top-0 left-0 w-1 h-full rounded-full bg-blue-500
}


/* service jsx */
.serviceBox {
  @apply relative xl:space-y-5 lg:space-y-7 md:space-y-8 space-y-5  xl:w-72 xl:h-64 w-full h-80  bg-white   shadow-3xl  pt-9;
}

.serviceBox > .eachServiceIcon {
  @apply absolute xl:w-16 xl:h-16 md:w-24 md:h-24 w-20 h-20 rounded-full p-4 border-none bg-blue-500 top-0 right-1/2 translate-x-1/2 xl:-translate-y-8 md:-translate-y-12 -translate-y-9;
}

.serviceBox .hrLine {
  @apply w-2/5  mx-auto size-1 rounded-full border-none bg-blue-500;
}

.serviceBox .header {
  @apply lg:text-3xl xl:text-base  md:text-2xl text-xl font-extrabold md:leading-snug leading-snug;
}

.serviceBox .serviceText {
  @apply text-[#4A4A4A] text-base xl:text-xs md:text-xl  lg:px-9 px-4 pt-1 lg:tracking-wider;
}


