
.image {
  border: 1px solid grey;
  @apply relative md:w-80 md:h-height5px w-60 h-80 rounded-3xl bg-gradient-to-b from-cyan to-violet after:bg-primary;
}

.image::after {
  z-index: -1;
  border-radius: 30px;
  content: "";
  position: absolute;
  border: 1px solid grey;
  top: 4%;
  left: 10%;
  width: 100%;
  height: 100%;
  transform: rotate(8deg);
}

.image::before {
  z-index: -1;
  border-radius: 30px;
  content: "";
  position: absolute;
  transform: rotate(17deg);
  top: 8%;
  left: 20%;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  background-color: white;
}

ul li {
  @apply text-base
}

ul  li:hover{
  cursor:pointer;
}
.textLeftDesign{
  position:relative;
}
.textLeftDesign:before{
  @apply absolute content-[''] top-0 left-0 w-1 h-full rounded-full bg-gradient-to-b from-cyan to-violet
}

.btnHover:hover {
  @apply rounded-full border-none
}